# Registry domain for virtual hosts
# e.g., reg.rconway.uk for endpoints like docker.io.reg.rconway.uk:5000
REGISTRY_DOMAIN=reg.rconway.uk

# Docker Hub credentials for upstream access
DOCKERHUB_USERNAME=
DOCKERHUB_PASSWORD=

# GitHub Container Registry credentials for upstream access
GHCR_USERNAME=
GHCR_PASSWORD=
