services:
  registry-dockerhub:
    image: registry:2
    container_name: registry-dockerhub
    networks:
      - registry-cache
    ports:
      - "5000:5000"
    volumes:
      - ${PWD}/dockerhub:/var/lib/registry
    configs:
      - source: registry-dockerhub
        target: /etc/docker/registry/config.yml
    restart: unless-stopped
  registry-ghcr:
    image: registry:2
    container_name: registry-ghcr
    networks:
      - registry-cache
    ports:
      - "5001:5000"
    volumes:
      - ${PWD}/ghcr:/var/lib/registry
    configs:
      - source: registry-ghcr
        target: /etc/docker/registry/config.yml
    restart: unless-stopped

configs:
  registry-dockerhub:
    content: |
      version: 0.1
      proxy:
        remoteurl: https://registry-1.docker.io
        username: ${DOCKERHUB_USERNAME}
        password: ${DOCKERHUB_PASSWORD}
      storage:
        filesystem:
          rootdirectory: /var/lib/registry
      http:
        addr: :5000
  registry-ghcr:
    content: |
      version: 0.1
      proxy:
        remoteurl: https://ghcr.io
        username: ${GHCR_USERNAME}
        password: ${GHCR_PASSWORD}
      storage:
        filesystem:
          rootdirectory: /var/lib/registry
      http:
        addr: :5000

networks:
  registry-cache:
    name: registry-cache
