{
  "name": "docker-all",
  "online": true,
  "storage": {
    "blobStoreName": "default",
    "strictContentTypeValidation": true
  },
  "group": {
    "memberNames": [
      "dockerhub",
      "ghcr"
    ]
  },
  "docker": {
    "v1Enabled": false,
    "forceBasicAuth": false,
    "httpPort": 5000
  }
}
